.App {
  text-align: center;
}

.App-div {
  /* background-color: #171717; */
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  /* color: #F2F7A1; */
  color: black;
  padding-top: 60px;
}
